# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Next.js build
.next/
out/

# NestJS build
dist/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Git Bash crash dump
bash.exe.stackdump